<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Analysis portal
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <p class="navbar-brand"><a href="/" style="color:black">Dashboard</a></p>
          </div>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li>
                <a href="/guidelines" class="btn btn-success">Guidelines</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary" style="padding: 30px;">
              <h1 class="card-title">Guidelines</h4>
                <h3 class="card-category">How to support someone with a mental health problem</h3>
                <div>
                  We all go through tough times and people help us through them. Other times we have been worried about
                  other people’s mental health. Whether they are a friend, family member or colleague, there are many
                  ways to support somebody you care about.
                </div>
            </div>
            <div class="card-body" style="padding: 50px;">
              <div>
                <blockquote class="blockquote">
                  <h2>How do I know if someone has a mental health problem?</h2>
                  <p>
                    Sometimes it will seem obvious when someone is going through a hard time, but there is no simple way
                    of knowing if they have a mental health problem. Sometimes you don’t need to know. It’s more
                    important to respond sensitively to someone who seems troubled than to find out whether or not they
                    have a diagnosis. <br>Although certain symptoms are common with specific mental health problems, no
                    two people behave in exactly the same way when they are unwell. If you know the person well, you may
                    notice changes in their behaviour or mood.
                  </p>
                </blockquote>
              </div>
              <div class="card-inner" style="padding: 30px;">
                <h2>Eight tips for talking about mental health</h2>
                <h3>1. Set time aside with no distractions</h3>
                <p>It is important to provide an open and non-judgemental space with no distractions.</p>
                <h3>2. Let them share as much or as little as they want to</h3>
                <p>Let them lead the discussion at their own pace. Don’t put pressure on them to tell you anything they
                  aren’t ready to talk about. Talking can take a lot of trust and courage. You might be the first person
                  they have been able to talk to about this.</p>
                <h3>3. Don't try to diagnose or second guess their feelings</h3>
                <p>You probably aren’t a medical expert and, while you may be happy to talk and offer support, you
                  aren’t a trained counsellor. Try not to make assumptions about what is wrong or jump in too quickly
                  with your own diagnosis or solutions.</p>
                <h3>4. Keep questions open ended</h3>
                <p>Say "Why don’t you tell me how you are feeling?" rather than "I can see you are feeling very low".
                  Try to keep your language neutral. Give the person time to answer and try not to grill them with too
                  many questions.</p>
                <h3>5. Talk about wellbeing</h3>
                <p>Talk about ways of de-stressing or practicing self-care and ask if they find anything
                  helpful.&nbsp;Exercising, having a healthy diet and&nbsp;getting a good nights sleep&nbsp;can help
                  protect mental health and sustain wellbeing.&nbsp;</p>
                <h3>6. Listen carefully to what they tell you</h3>
                <p>Repeat what they have said back to them to ensure you have understood it. You don’t have to agree
                  with what they are saying, but by showing you understand how they feel, you are letting them know you
                  respect their feelings.</p>
                <h3>7. Offer them help in seeking professional support and provide information on ways to do this</h3>
                <p>You might want to offer to go the GP with them, or help them talk to a friend or family member. Try
                  not to take control and allow them to make decisions.</p>
                <h3>8. Know your limits</h3>
                <p>Ask for help or signpost if the problem is serious. If you believe they are in immediate danger or
                  they have injuries that need medical attention, you need to take action to make sure they are safe.
                  More details on dealing in a crisis can be found below.</p>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container-fluid">
            <nav class="float-left">
              <ul>
                <li>
                  <a href="/">
                    Team 4
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </footer>
      </div>
    </div>
</body>

</html>